#edit_page.col-md-8.col-md-offset-2
	.row
		.panel1.panel-default
			.box
				%h1 Edit Your article
			.panel-body
				.current_image
					%strong.center by
					= image_tag @article.image.url(:medium)
				= render 'form'
