
#articles.transitions-enabled
	.color-layer1.container
		- @articles.each do |article|
			.box.panel1
				= link_to (image_tag article.image.url), article
				.panel-body.color-layer1
					%h2= link_to article.title, article